* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    perspective: 1000px;
    perspective-origin: 50% 10%;
}

#scene {
    position: relative;
    transform-style: preserve-3d;

    // animation: auto-rotate 30s linear infinite;

    @keyframes auto-rotate {
        to {
            transform: rotateY(360deg);
        }
    }
}

#floor {
    height: 1000px;
    width: 1000px;
    background:
        radial-gradient(transparent 40%, white, white),
        linear-gradient(to right, #ccc 1px, transparent 1px),
        linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 100%, 50px 50px, 50px 50px;
    background-position: center;

    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg);
}

#scene input {
    all: unset;
    height: 1000px;
    width: 1000px;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg);
}

#scene input:checked {
    background: red;
}

#box {
    height: 150px;
    width: 150px;

    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg);

    transform-style: preserve-3d;
}

.side {
    height: 150px;
    width: 150px;
    position: absolute;

    // box-shadow: 0 0 5px cyan inset;
    // background: rgba(0, 255, 255, 0.1);

    // background-image: url('box background.jpg');
    // background-size: 50%;
    // // filter: blur(0.3px) brightness(0.95);
    // box-shadow: 0 0 20px rgb(185, 130, 60) inset;

    background: #D8B56D;
    box-shadow: 0 0 10px rgb(185, 155, 95) inset;
}

.side.top {
    // background-color: rgba(255, 255, 0, 0.6);
    transform: translateZ(155px);
    transform-style: preserve-3d;
    scale: 1.07;
}

.side.bottom {
    // background-color: rgba(0, 255, 242, 0.6);
    transform: translateZ(0px);
}

.side.left {
    // background-color: rgba(255, 145, 0, 0.6);
    transform-origin: right;
    transform: translateX(-150px) rotateY(90deg);
}

.side.right {
    // background-color: rgba(0, 255, 21, 0.6);

    transform-origin: left;
    transform: translateX(150px) rotateY(-90deg);
}

.side.back {
    // background-color: rgba(255, 0, 0, 0.6);
    transform-origin: top;
    transform: translateY(0px) rotateX(90deg);
}

.side.front {
    // background-color: rgba(195, 0, 255, 0.6);
    transform-origin: top;
    transform: translateY(150px) rotateX(90deg);

    display: flex;
    align-items: center;
    justify-content: center;
}

.top-side {
    position: absolute;
    background: inherit;

    // box-shadow: 0 0 5px cyan inset;
    // background: rgba(0, 255, 255, 0.1);

    // background-image: url('box background.jpg');
    // background-size: 50%;
    // // filter: blur(0.3px) brightness(0.95);
    // box-shadow: 0 0 20px rgb(185, 130, 60) inset;

    background: #D8B56D;
    box-shadow: 0 0 10px rgb(185, 155, 95) inset;
}

.top-side.top-left {
    height: 100%;
    width: 30px;
    left: -30px;
    transform-origin: right;
    transform: rotateY(-90deg);
}

.top-side.top-right {
    height: 100%;
    width: 30px;
    right: -30px;
    transform-origin: left;
    transform: rotateY(90deg);
}

.top-side.top-front {
    height: 30px;
    width: 100%;
    bottom: -30px;
    transform-origin: top;
    transform: rotateX(-90deg);
}

.top-side.top-back {
    height: 30px;
    width: 100%;
    top: -30px;
    transform-origin: bottom;
    transform: rotateX(90deg);
}

// .shadow {
//   height: 150px;
//   width: 150px;
//   position: relative;

//   background:
//     linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent 30%),
//     linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 30%),
//     linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 30%),
//     linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 30%);

//   background-blend-mode: multiply;
//   pointer-events: none; /* optional if it's just visual */
// }

.side.front .front-note{
    height: 30px;
    width: 100px;
    background: rgb(255, 255, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;

    transform: translateY(-10px) rotateX(180deg) rotateZ(-20deg);
}

.letter{
    position: absolute;
    transform: translateY(200px);

    height: 100px;
    width: 100px;
    background: yellow;
}