* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #333;
}

.thread {
    height: 3px;
    width: 3px;
    background: white;

    position: relative;
    left: 50vw;
}