*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    perspective: 1000px;
}

h1{
    font-size: 40px;
    color: black;
}

#card{
    height: 400px;
    width: 300px;
    background: rgb(255, 225, 230);

    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;

    position: relative;

    transform-style: preserve-3d;
    /* transform: rotateZ(-30deg) rotateX(30deg) rotateY(45deg); */
}

#card .card-content{
    width: 90%;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;

    transform-style: preserve-3d;
    /* transform: translateZ(60px); */
}

