:root {
    --box-color: rgba(0, 255, 255, 0.5);
    --rotate-speed: 30s;
    --ball-speed: 1.5s;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;

    font-size: 75px; /* to use em to change everything based on font size*/

    perspective: 10em;
    perspective-origin: 50% calc(50% - 2.5em);
}

#scene {
    position: relative;
    transform-style: preserve-3d;
    animation: scene-rotate var(--rotate-speed) linear infinite;
}

@keyframes scene-rotate {
    to {
        transform: rotateY(360deg);
    }
}

#floor {
    height: 15em;
    width: 15em;
    background:
        radial-gradient(transparent, black 75%),
        repeating-conic-gradient(from 45deg, #111 0deg 90deg, #333 90deg 180deg);
    background-size: 100%, 1em 1em;
    position: absolute;
    top: 1em;
    left: 0;
    transform: translate(-50%, -50%) rotateX(90deg);
}

#ball {
    height: 1em;
    width: 1em;
    background: lightblue;
    border-radius: 50%;
    position: absolute;
    top: -2em;
    left: -.5em;

    background-image: radial-gradient(circle at top, lightblue, 70%, black);
    animation:
        scene-rotate var(--rotate-speed) linear infinite reverse,
        ball-bounce var(--ball-speed) ease-out infinite;
}

@keyframes ball-bounce {

    0%,
    100% {
        top: -2em;
    }

    50% {
        top: -3.5em;
        animation-timing-function: ease-in;
    }
}

#box .side.top .ball-shadow {
    height: 1em;
    width: 1em;
    position: absolute;
    top: calc(.5em);
    left: calc(.5em);
    background-image: radial-gradient(black, transparent 70%);
    animation: ball-shadow var(--ball-speed) ease-out infinite;
}

@keyframes ball-shadow {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.2);
        opacity: 0.5;
        animation-timing-function: ease-in;
    }
}

#box {
    height: 2em;
    width: 2em;
    /* background: var(--box-color); */

    position: absolute;
    top: -1em;
    left: -1em;

    transform-style: preserve-3d;
    transform-origin: bottom;
}

#box .side {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--box-color);
    box-shadow: 0 0 0.5em #000a inset;
}

#box .side.front {
    transform: translateZ(1em);
}

#box .side.back {
    transform: translateZ(-1em);
}

#box .side.top {
    transform: translateY(-1em) rotateX(90deg);
    background: rgba(0, 255, 255, 0.8);
}

#box .side.bottom {
    transform: translateY(1em) rotateX(90deg);
    box-shadow: 0 0 1em #0000;
}

#box .side.left {
    transform: translateX(-1em) rotateY(90deg);
}

#box .side.right {
    transform: translateX(1em) rotateY(90deg);
}