* {
    margin: 0;
}

:root {
    color-scheme: light dark;
    --color-scheme: light-dark(white, #222)
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;


    background: radial-gradient(transparent 30%, var(--color-scheme)), linear-gradient(to right, #ccc 1px, transparent 1px), linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 100%, 50px 50px, 50px 50px;
    background-position: 0 0;

    animation: move-bg 60s linear infinite;
}

@keyframes move-bg {
    to {
        background-position: 100% 100%;
    }
}

.clip-path-object-1 {
    height: 400px;
    width: 400px;
    background: linear-gradient(to top right, hotpink, purple);
    /* box shadow, border does not work for the clip path */
    box-shadow: 0 0 20px hotpink;

    /* L for line between points args X,Y */
    /* A for arc i.e. curves args RX,RY x-axis-rotation, large-arc-flag, sweep-flag*/
    clip-path: path('M 20,100 L 180,100 A 20,20 0,0,0 200,80 L 200,20 A 20,20 0,0,1 220,0 L 380,0 A 20,20 0,0,1 400,20 L 400,380 A 20,20 0,0,1 380,400 L 20,400 A 20,20 0,0,1 0,380 L 0,120 A 20,20 0,0,1 20,100 Z');

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}

.clip-path-object-1::before {
    content: "height: 400px; width: 400px; clip-path: path(' M 20,100 L 180,100 A 20,20 0,0,0 200,80 L 200,20 A 20,20 0,0,1 220,0 L 380,0 A 20,20 0,0,1 400,20 L 400,380 A 20,20 0,0,1 380,400 L 20,400 A 20,20 0,0,1 0,380 L 0,120 A 20,20 0,0,1 20,100 Z')";
    position: absolute;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    top: 120px;
    line-height: 1.8;
}

.clip-path-object-2 {
    height: 400px;
    width: 400px;

    border: 1px solid white;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}

.clip-path-object-2 .shape {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, hotpink, purple);

    /* inset */
    clip-path: inset(40px);
    clip-path: inset(40px 60px);
    clip-path: inset(40px 40px round 15% 0);

    /* circle */
    /*default center args radius, position*/
    clip-path: circle(50px);
    clip-path: circle(50%);
    clip-path: circle(50px at 25%);
    clip-path: circle(50px at 80px 120px);

    /* ellipse */
    /* args X-rad,Y-rad at clipping position */
    clip-path: ellipse(50px 80px);
    clip-path: ellipse(20% 50%);
    clip-path: ellipse(60px 120px at 80px 120px);

    /* polygon */
    /* args (x0 y0, x1 y1, x2 y2, . . . xn,yn) */
    clip-path: polygon(20px 20px, 200px 60px, 100px 150px);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    background: url('https://cdn.pixabay.com/photo/2022/10/07/11/02/autumn-7504820_960_720.jpg');
    background-size: cover;

    animation: animate-object-2 10s ease-in-out infinite;
}

@keyframes animate-object-2 {
    0% {
        clip-path: circle(100%);
    }

    15% {
        clip-path: circle(25%);
    }

    30% {
        clip-path: circle(25% at 20% 80%);
    }

    45% {
        clip-path: circle(35% at 80% 50%);
    }

    60% {
        clip-path: circle(20% at 10% 20%);
    }

    75% {
        clip-path: circle(25%);
    }

    100% {
        clip-path: circle(100%);
    }
}